@charset "utf-8";

/*contact 스타일 */

#listBox{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.form1{
    width: 100%;
    line-height: 40px;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    outline: none;
}

.form1:focus{
    background: #f0ec9e;
}

.list a{ color: #2b8c44; }

.list a:hover{ color: #eb6b15; }

.icon{
    font-size: 2rem;
    margin-left: 1rem;
}